.times{    
    grid-template-columns: repeat(12, 1fr);   
    width: 75%;  
    margin: auto;
    border-radius: 15px;
    background:#1a212a;
    color: #fff;
    display: grid;
    padding: 20px;
    height: 100px;
    
}

.time-casa{     
    padding: auto;
    grid-template-columns: repeat(12, 1fr); 
    grid-column: span 5;
    border-radius: 10px;
    background:#1a212a;
    color: #fff; 
    display: grid;   
}
